<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Task page</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                title="Collapse">
                <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <table class="table well">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>email</th>
                <th>password</th>
            </tr>
            <tr *ngFor="let item of users">
                <!-- <td>{{item._id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.price}}</td>
                <td>{{item.Address}}</td> -->
                <td>
                    <button class="btn btn-warning">Edit</button>&nbsp;
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </table>

    </div>
</div>